.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

.navbar-ul li{
    margin-right: 20px; 
    /* text-align: center;
    padding: 14px 12px; */
}

.navbar-right{
    margin-left: auto;
} 

.navbar-account{
    position: relative;
    display: inline-block;
}




